body{
	font-family: sans-serif;
}
a{
	text-decoration: none;
	list-style-type: none;
	color: black;
}
a:link{
	color: black;
}
.iconhome{
    margin-right: 21px;
    margin-left: 10px;
}
.margin-left-icon{

}
.center{
	text-align: center;
}
.text-white{
	color: white;
}
.margin-top{
	margin-top: 50px;
}
.foto{
	width: 87%;
    height: 300px;
    background-color: gray;
    margin-left: 73px;
}
.block{
	display: block;
}
.historia-d{
	background-color: rgba(128, 128, 128, 0.75);
    padding: 5px;
    width: 187px;
    margin-bottom: 16px;
}
.conthist{

}
.hist{

}
#agenda{

}
.enero{

}
.bg-gray{
    background-color: rgba(128, 128, 128, 0.44);
}
